.main {
  padding: 20px;
  p {
    text-indent: 2em;
  }
  img {
    display: block;
    margin: 20px auto;
    width: 600px
  }
}

@media (max-width: 750px) {
  .main {
    img {
      width: 80%;
    }
  }

}